.appContainer{
    display: grid;
    grid-template-columns: 150px 1fr 240px;
    grid-template-rows: 50px 1fr;
    width: 100vw;
    height: 100vh;
}
.toolbar{
    grid-column: 1/4;
    grid-row: 1/1;
    border-bottom: 1px solid #e0e0e0;
    padding-top: 8px;
    padding-left: 4px;
}